<!-- templates/available_books.html -->
<!DOCTYPE html>
<html>
<head>
    <title>G8 Bookstore</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='list.css') }}">
</head>
<body>
    <div class="header">
        <h1>G8 Bookstore</h1>
        <h2>Available Books</h2>
    </div>
    <form method="post" action="/logout" class="logout">
        <button type="submit">Logout</button>
    </form>
    <form method="get" action="/search">
        <label for="search_query">Search:</label>
        <input type="text" id="search_query" name="query" placeholder="Enter book title or author">
        <input type="submit" value="Search">
    </form>
    <div class="main-content">
        <!-- Book list -->
        <form action="/checkout" method="post" class="book-form">
            <div class="book-list">
                {% for book in books %}
                <div class="book-item">
                    <img src="{{ book.image }}" alt="{{ book.title }}" class="book-image">
                    <div class="book-details">
                        <label>{{ book.title }} - {{ book.author }} - {{ book.genre }} (RM {{ book.price }})</label>
                        <input type="checkbox" name="selected_books" value="{{ book.id }}">
                    </div>
                </div>
                {% endfor %}
            </div>
            <input type="submit" value="Proceed to Checkout">
        </form>
    </div>
</body>
</html>
